<style>
    .header {
        height: 60px;
        background-color: #212121;
    }

    .logo {
        width: 24px;
    }

    .title {
        font-size: 20px;
    }
</style>
<div class="header flex flex-align-center color-f">
    <div class="flex flex-align-center color-f cursor-pointer" onclick="goFirstPage()">
        <img class="logo margin-l-20" src="img/logo.png" alt="logo">
        <span class="title margin-l-10">天房科技</span>
    </div>
    <div class="flex-1"></div>
    <div class="cursor-pointer margin-r-20" onclick="goFirstPage()">demo</div>
    <div class="cursor-pointer margin-r-20" onclick="goApiDoc()">api文档</div>
</div>
<script>
    function goFirstPage() {
        window.location.href = "index.html"
    }
    function goApiDoc() {
        window.location.href = "apiDoc.html"
    }
</script>