<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <title>codewalllm</title>
    <link rel="stylesheet" href="css/common.css">
    <script src="js/common.js"></script>
    <script src="js/vue.prod.js"></script>
    <script src="js/element.js"></script>
    <script src="js/axios.js"></script>
</head>

<body>
    <div id="vue" class="position-f w-100p h-100p">
        <div class="margin-t-10 margin-l-20" v-for="(item,index) in fileUrls" :key="index">
            <div class="margin-r-20" v-text='`<!-- ${item.name} -->`'></div>
            <div v-if="GETFILEINFO(item.url).fileType=='css'" v-text='`<link rel="stylesheet" href="${item.url}">`'></div>
            <div v-else v-text='`<script src="${item.url}"></script>`'></div>
        </div>
    </div>
</body>
<script type="text/javascript">
    Vue.createApp({
        data() {
            return {
                fileUrls: [
                    { name: '样式', url: 'https://codewalllm.github.io/css/common.css' },
                    { name: '方法', url: 'https://codewalllm.github.io/js/common.js' },
                    { name: 'vue', url: 'https://codewalllm.github.io/js/vue.prod.js' },
                    { name: 'element', url: 'https://codewalllm.github.io/js/element.js' },
                    { name: 'axios', url: 'https://codewalllm.github.io/js/axios.js' },
                ],
                GETFILEINFO,
            }
        },
    }).use(ElementPlus).directive('drag', VUEFUNCTION().directive.drag).mount('#vue')
</script>

</html>
